# List
- creation
- indexing & slicing
- operations
- functions
    - addition of data
    - deletion of data
    - helpful utilities
- comprehension

In [ ]:
a = [1,2,3,4]
b = ['Apple','Banana','Cherry']
c = ['Apple',20,'cherry',30,True,False]

x = [a,b,c]
print(a)
print(b)
print(c)
print(x)

In [ ]:
bl = [] # empty lisst
sl = [1] * 5 # same value in the lisst
print(bl)
print(sl)

In [ ]:
print(b[0]) # first index
print(b[1])
print(b[2])
print(b[-1]) # last index
print(x[1])

In [ ]:
print(a[10]) #error

In [ ]:
x = [1,2,3,4,5,6,7,8,10,11,12,123,12,12]

In [ ]:
x[:5] # first five

In [ ]:
x[-5 :] # last five

In [ ]:
x[::-1] # reverse tje sequene

In [ ]:
x[3:8]

In [ ]:
# operation
# join two or more
a = [1,2,3]
b= [4,5,6]
c = [5,6,7]
a + b

In [ ]:
d = a + b + c # element wise concatenation
e = [a,b,c]   # nested list creation

In [ ]:
print(d)
print(e)

In [ ]:
# multiplication
a * 5

In [76]:
books = []

In [77]:
books.append("The Final Empire") # append -> adds item to the list at the end
print(books)

['The Final Empire']

In [78]:
books.append("The Well of Ascension") # append -> adds item to the list at the end
print(books)

['The Final Empire', 'The Well of Ascension']

In [79]:
books.append('The Twilight Saga: New Moon')
books.append('The Legend of Arthur')
print(books)

['The Final Empire', 'The Well of Ascension', 'The Twilight Saga: New Moon', 'The Legend of Arthur']

In [80]:
a.append(4)
a.append(b)

In [81]:
print(a)

[1, 2, 3, 4, [4, 5, 6], 4, [4, 5, 6]]

In [82]:
books

['The Final Empire',
 'The Well of Ascension',
 'The Twilight Saga: New Moon',
 'The Legend of Arthur']

In [83]:
old_books = ['Lord of the Ring','Jungle Book','Othello']

In [84]:
books.extend(old_books) # extend -> take items from existing list into current list

In [85]:
print(books)

['The Final Empire', 'The Well of Ascension', 'The Twilight Saga: New Moon', 'The Legend of Arthur', 'Lord of the Ring', 'Jungle Book', 'Othello']

In [86]:
books

['The Final Empire',
 'The Well of Ascension',
 'The Twilight Saga: New Moon',
 'The Legend of Arthur',
 'Lord of the Ring',
 'Jungle Book',
 'Othello']

In [87]:
books.insert(2,'The Hero of Ages')
print(books)

['The Final Empire', 'The Well of Ascension', 'The Hero of Ages', 'The Twilight Saga: New Moon', 'The Legend of Arthur', 'Lord of the Ring', 'Jungle Book', 'Othello']

In [88]:
books.insert(-1, "Julius Ceasar")

In [89]:
books

['The Final Empire',
 'The Well of Ascension',
 'The Hero of Ages',
 'The Twilight Saga: New Moon',
 'The Legend of Arthur',
 'Lord of the Ring',
 'Jungle Book',
 'Julius Ceasar',
 'Othello']

In [90]:
# remove
books.remove('Julius Ceasar')
print(books)

['The Final Empire', 'The Well of Ascension', 'The Hero of Ages', 'The Twilight Saga: New Moon', 'The Legend of Arthur', 'Lord of the Ring', 'Jungle Book', 'Othello']

In [91]:
books.pop() # last item removal
print(books)

['The Final Empire', 'The Well of Ascension', 'The Hero of Ages', 'The Twilight Saga: New Moon', 'The Legend of Arthur', 'Lord of the Ring', 'Jungle Book']

In [92]:
books.pop()
print(books)

['The Final Empire', 'The Well of Ascension', 'The Hero of Ages', 'The Twilight Saga: New Moon', 'The Legend of Arthur', 'Lord of the Ring']

In [93]:
books.insert(3,'kahdkj asdad')
print(books)

['The Final Empire', 'The Well of Ascension', 'The Hero of Ages', 'kahdkj asdad', 'The Twilight Saga: New Moon', 'The Legend of Arthur', 'Lord of the Ring']

In [95]:
books.pop(3)
print(books)

['The Final Empire', 'The Well of Ascension', 'The Hero of Ages', 'The Legend of Arthur', 'Lord of the Ring']

In [96]:
books.clear() # remove all the content making list empty

In [98]:
books

[]

In [109]:
# utility
x= [1,2,3,1,1,1,2,3,4,4,5,1,1,2,3,4,.100,34,56,5,'apple',2,3,31]
# count occurance of 1
print("found 1: ",x.count(1),"times")
# count 3's occurance
print("found 3: ",x.count(3),"times")

found 1:  6 times
found 3:  4 times

In [110]:
x.index(.100)

16

In [111]:
x.index('apple')

20

In [112]:
x.reverse() # reverses the list
print(x)

[31, 3, 2, 'apple', 5, 56, 34, 0.1, 4, 3, 2, 1, 1, 5, 4, 4, 3, 2, 1, 1, 1, 3, 2, 1]

In [113]:
x.remove('apple')
x.sort()
print(x)

[0.1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 5, 5, 31, 34, 56]

In [114]:
x.sort(reverse=True) # reverse=True means descending sort for the list
print(x)

[56, 34, 31, 5, 5, 4, 4, 4, 3, 3, 3, 3, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 0.1]

In [116]:
y =  x.copy() # create a copy of x as y, so that we can work on them seperately
backup_list = y.copy()
print(backup_list,y ,x)

[56, 34, 31, 5, 5, 4, 4, 4, 3, 3, 3, 3, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 0.1] [56, 34, 31, 5, 5, 4, 4, 4, 3, 3, 3, 3, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 0.1] [56, 34, 31, 5, 5, 4, 4, 4, 3, 3, 3, 3, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 0.1]

In [119]:
a = [1,2,3]
b = a.copy()
a.remove(1)
a.remove(2)
b.append(10)
print(a, b)

[3] [1, 2, 3, 10]

# Common Questions related to list

1. wap to filter a list of numbers and return only even numbers

`x = [1,2,3,4,5,6,7,8,9,10]`

In [8]:
x = [1,2,3,4,5,6,7,8,9,10]
for val in x:
    if val % 2 == 0:
        print(val, end=' ')

2 4 6 8 10

2. wap to return a list of only even numbers from a given list of numbers

In [9]:
# very basic code - none pythonic
x = [1,2,3,4,5,6,7,8,9,10]
x2 = []
for i in x:
    if i % 2 == 0:
        x2.append(i)
print(x)
print(x2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]

In [19]:
# pythonic code - list comprehension
x = [1,2,3,4,5,6,7,8,9,10]
xodd = [i for i in x if i % 2 ==1]
print(x)
print(xodd)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

3. create a list of squares of from a existing list of 10 numbers

In [20]:
# non-pythonic code
x = [1,2,3,4,5,6,7,8,9,10]
xsqr = []
for i in x:
    xsqr.append(i**2)
print(x)
print(xsqr)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### list comprehension syntax
`newlist = [expression loop (condition)]`

In [21]:
# pythonic code
x = [1,2,3,4,5,6,7,8,9,10]
xsqr = [i**2 for i in x]
print(x)
print(xsqr)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

3. wap to print colors containing letter 'r' from a list of colors

In [24]:
colorlist = ['red','green','blue','yellow','orange','pink','purple','black','white']
for color in colorlist:
    print(color, end=', ')

red, green, blue, yellow, orange, pink, purple, black, white,

In [25]:
# non pythonic
colorlist = ['red','green','blue','yellow','orange','pink','purple','black','white']
for color in colorlist:
    if 'r' in color:
        print(color, end=', ')

red, green, orange, purple,

In [26]:
# pythonic
colorlist = ['red','green','blue','yellow','orange','pink','purple','black','white']
colors_wr = [color for color in colorlist if 'r' in color]
print(colors_wr)

['red', 'green', 'orange', 'purple']

4. find out the average from a list of numbers

In [27]:
x = [1,2,3,4,5,6,7,8,9,10]
average = sum(x)/len(x)
print(average)

5.5

5. remove all string impurities from a list of numbers

In [28]:
ilist = [1,2,3,'b',4,5,'x',6,7,8,'z',9,10,'a']
ilist

[1, 2, 3, 'b', 4, 5, 'x', 6, 7, 8, 'z', 9, 10, 'a']

In [30]:
ilist = [1,2,3,'b',4,5,'x',6,7,8,'z',9,10,'a']
num_list = []
for i in ilist:
    if isinstance(i,(int,float)): # or type(i) == int
        num_list.append(i)
print(ilist)
print(num_list)

[1, 2, 3, 'b', 4, 5, 'x', 6, 7, 8, 'z', 9, 10, 'a']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
ilist = [1,2,3,'b',4,5,'x',6,7,8,'z',9,10,'a']
num_list = [i for i in ilist if isinstance(i,(int,float))]
print(ilist)
print(num_list)

[1, 2, 3, 'b', 4, 5, 'x', 6, 7, 8, 'z', 9, 10, 'a']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

6. wap to add only every third value from a list of numbers and display the sum

In [2]:
# non pythonic
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
total = 0
for idx,val in enumerate(numbers):
    if idx % 3 == 0:
        total += val
print(total)

70

In [3]:
# ptyhonic
# print(numbers[::3])
total = sum(numbers[::3])
print(total)

[1, 4, 7, 10, 13, 16, 19]
70