In [ ]:
x = [1,2,3,4]
x.append(5)
x

In [ ]:
a = (1,2,3,4,5) # immutable
print(a)

In [ ]:
type(a)

In [ ]:
a = (1,2,2,3,1,2,3,3)

In [ ]:
a.count(2)

In [ ]:
a.index(1)

In [ ]:
# traverse
for i in a:
    print(i)

In [ ]:
a[2]

In [13]:
# conversion list to tuple
x = [1,2,3,4,5,6,7]
xt = tuple(x)
print(x, xt)

[1, 2, 3, 4, 5, 6, 7] (1, 2, 3, 4, 5, 6, 7)

In [15]:
# conversion tuple to list
xl = list(xt)
print(xt, xl)

(1, 2, 3, 4, 5, 6, 7) [1, 2, 3, 4, 5, 6, 7]

In [16]:
items = 'apple', 'banana', 'cherry'
items

('apple', 'banana', 'cherry')

# set