Install this library
```
pip install pandas
```

fixing pandas install error

```pip uninstall pandas```

&

```pip install pandas --no-cache --force```

In [ ]:
import pandas as pd

In [ ]:
sample = pd.DataFrame(
    [
        {'name':'Tanuhsi','surname':'tayal'},
        {'name':'Neha','surname':'singh'},
        {'name':'tushar','surname':'sanyal'},
        {'name':'Roma','surname':'devii'},
    ]
)

In [ ]:
sample.shape

In [ ]:
sample.size

In [ ]:
sample

In [ ]:
sample

accessing a row in pandas

In [ ]:
sample.iloc[0] # indexed location

In [ ]:
sample.iloc[-1]

In [ ]:
sample.iloc[:2] # first two row

columns selection is like dictionary where we access value from key

In [ ]:
sample['name']

columns can also be access like class properties with the use of dot. but only columns having single word can be used in this manner

In [ ]:
sample.surname

loading a csv file as our dataset

In [ ]:
df = pd.read_csv('diabetes.csv')
df

reading an excel file as our dataset (u might need to install another library)
```
pip install openpyxl
```

In [ ]:
df = pd.read_excel('canada.xlsx', sheet_name="Canada by Citizenship",skiprows=20, skipfooter=2)
df

finding the datatype of cols

In [ ]:
df.info()

In [ ]:
pd.set_option('display.max_columns',None)

In [ ]:
df.head()

summary and stats of data numeric data

In [ ]:
df.describe()

summary of object columns

In [ ]:
df.describe(include='object')

count the unique value occurance in a single cols

In [ ]:
df.Type.value_counts() # this is a col to drop

In [ ]:
df.Coverage.value_counts() # i will drop this

In [ ]:
df.DevName.value_counts()

In [ ]:
colstodrop = ['AREA','REG','DEV','Type','Coverage']
df.drop(columns=colstodrop,inplace=True)

ADDING A column

In [ ]:
years = list(range(1980,2014))
print(years)

In [ ]:
df['total'] = df[years].sum(axis=1)

In [ ]:
df.head()

selecting subset on data using column filter

In [ ]:
cols = ['OdName','RegName','total',2010,2011,2013]
df[cols]

renaming columns to make readability easier

In [ ]:
df.rename(
    {'OdName':'country',
    'AreaName':'continent',
    'RegName':'region',
    'DevName':'is_developed'},
    axis=1,
    inplace=True
)
df.head(2)

In [ ]:
# df.rename({'United Kingdom of Great Britain and Northern Ireland':'UK'},axis=0)
df.index

In [ ]:
df.set_index('country',inplace=True)

In [ ]:
df.loc[['India','China'],years].T.plot()

##### Grouping the data according to  column(s), and then specify the aggregation function

In [ ]:
df.continent.value_counts()

In [ ]:
df.groupby('continent').total.sum()

In [ ]:
df.groupby('continent').total.mean()

In [ ]:
continent_df = df.groupby('continent')[years].agg(['sum'])
continent_df

In [ ]:
continent_df.loc[['Asia','Africa'],years].T.plot(figsize=(16,6),kind='area',alpha=0.8,stacked=False)

#### filter concept -> boolean filtering

In [ ]:
df.continent == 'Europe' # boolean filter

In [ ]:
europe_filter = df.continent == 'Europe'

In [ ]:
europe_df = df[europe_filter]

In [ ]:
africa_df = df[df.continent == 'Africa']
africa_df.head()

In [ ]:
df[df.total>50000]

#### sorting the data

In [71]:
df.sort_values(by='continent')

,continent,region,is_developed,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,total
country,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Lesotho,Africa,Southern Africa,Developing regions,1,1,1,2,7,5,3,1,6,5,1,4,4,7,2,3,9,2,1,4,1,0,2,2,2,4,0,4,1,8,7,1,0,6,107
Mali,Africa,Western Africa,Developing regions,4,4,7,3,3,4,3,5,4,7,13,31,90,51,35,36,67,26,43,30,66,67,62,72,87,87,114,143,154,164,170,155,191,190,2188
Malawi,Africa,Eastern Africa,Developing regions,5,4,6,3,2,0,4,7,1,4,10,9,4,12,6,5,6,11,8,14,12,5,7,3,17,23,15,13,5,10,28,16,9,10,294
Madagascar,Africa,Eastern Africa,Developing regions,22,10,13,32,30,18,10,42,36,27,28,37,34,55,16,30,35,56,48,34,32,57,59,48,79,88,96,115,118,169,178,148,165,229,2194
Libya,Africa,Northern Africa,Developing regions,5,7,9,24,10,31,23,81,43,77,47,86,89,85,74,116,128,156,113,157,208,228,210,153,196,196,281,198,306,282,384,352,299,255,4909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Tonga,Oceania,Polynesia,Developing regions,2,4,7,1,2,5,7,0,4,9,7,4,4,5,7,9,8,8,2,6,0,6,2,5,5,2,0,1,0,5,5,2,3,5,142
Samoa,Oceania,Polynesia,Developing regions,3,7,4,1,3,0,3,0,1,1,2,3,1,5,3,2,2,3,4,0,1,2,2,3,3,2,0,1,4,2,5,3,2,0,78
Fiji,Oceania,Melanesia,Developing regions,632,705,814,554,389,446,361,523,561,736,1172,1619,1782,1317,1016,674,621,448,388,360,458,643,611,561,495,298,277,304,321,311,398,316,270,228,20609
New Zealand,Oceania,Australia and New Zealand,Developed regions,602,480,364,140,164,148,176,208,200,237,270,227,341,352,234,210,219,181,146,164,212,360,321,345,350,370,318,350,480,520,490,375,417,415,10386
Marshall Islands,Oceania,Micronesia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,2

In [75]:
df.sort_values(by=['continent','total'],ascending=[True,False])

,continent,region,is_developed,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,total
country,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Egypt,Africa,Northern Africa,Developing regions,612,660,755,455,447,348,514,1017,1085,1663,2365,1860,1558,1598,2375,2821,2561,2137,1387,1378,1642,2595,2039,2230,2393,2496,2190,2356,3347,3496,5982,4663,5555,4165,72745
Morocco,Africa,Northern Africa,Developing regions,325,471,447,335,248,328,388,505,685,1060,1313,1390,1055,1042,660,1069,939,1095,1262,1870,2664,4067,4174,3369,3686,2939,3322,4021,4226,5532,6242,4399,3878,3261,72267
Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,69,132,242,434,491,872,795,717,595,1106,2054,1842,2292,2389,2867,3418,3406,3072,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
Somalia,Africa,Eastern Africa,Developing regions,7,10,7,12,14,10,37,190,217,401,1059,3266,5794,3734,1576,2000,1541,1084,1397,1652,1568,1155,730,957,1364,1198,1061,1166,1015,1214,1528,1535,1582,2028,42109
South Africa,Africa,Southern Africa,Developing regions,1026,1118,781,379,271,310,718,1470,1305,1301,902,823,1059,1549,2366,1455,1308,1729,1350,1478,1763,1899,1498,1245,1175,988,1111,1200,1123,1188,1238,959,1243,1240,40568
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Tuvalu,Oceania,Polynesia,Developing regions,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,2,0,0,1,0,0,0,1,0,0,8
American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,0,1,0,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,6
New Caledonia,Oceania,Melanesia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,2,5
Marshall Islands,Oceania,Micronesia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,2
Palau,Oceania,Micronesia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1

### Questions to find out

1. Migration data comparison between africa's subregion
2. Top 5 countries with highest migration in the European continent
3. Top 10 years of migrations
4. Asia's average rate of migration from 2000 to 2013
5. Which continent has the highest migration in last decade (2000-2013)
6. Average Migration per country in the 3 decades